/node_modules
# /public
/public/hot
/public/storage
/public/ttd
/public/vendor
/storage/*.key
/vendor
composer.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# all image in public erm
/public/erm/*.jpeg
/public/erm/*.jpg
/public/erm/*.png

/storage/app/public/
/storage/logs/